asttokens
blinker
click
colorama
comm
debugpy
decorator
executing
findspark
Flask
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
nest-asyncio
packaging
parso
platformdirs
prompt_toolkit
psutil
pure_eval
py4j
Pygments
pyspark
python-dateutil
#pywin32
pyzmq
six
stack-data
tornado
traitlets
wcwidth
Werkzeug
Flask-WTF
